

<form method="post" asp-action="InscriptionForm">


    <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" type="text" name="fname">
    </div>



    <div class="mb-3">
        <label class="form-label">Prenom</label>
        <input class="form-control" type="text" name="lname">
    </div>


    <div class="mb-3">
        <label class="form-label">E-Mail</label>
        <input class="form-control" type="email" name="email">
    </div>


    <div class="mb-3">
        <label class="form-label">Mot de Passe</label>
        <input class="form-control" type="password" name="pass">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>



</form>